exportPattern("^[^\\.]")
import(plyr)
import(e1071)
import(readr)
import(gdata)
import(lavaan)
import(doParallel)
import(parallel)
import(foreach)
import(data.table)
import(stringr)
import(splitstackshape)
import(Matrix)
import(R.utils)
import(dplyr)
import(iterators)
import(Rcpp)
import(utils)
import(mgsub)
