exportPattern("^[[:alpha:]]+")
import(plyr)
import(e1071)
import(readr)
import(gdata)
import(lavaan)
import(doParallel)
import(foreach)
import(data.table)
import(R.utils)
import(stringr)
import(splitstackshape)
import(Matrix)
import(R.utils)
